.cards {
  width: 920px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 100px;
}

/* gap используется не только в гридах, но и во флексах, в прошлый четверг был лайв-кодинг с работниками яндекса, где нам показывали этот способ установки отступов между флекс-элементами, благодаря которому отпала необходимость писать доп селектор на отмену маргина у карточек крайних позиций */
