.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 10;
  background-image: url("../../../images/logo_place_header.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  transition: background-color .5s linear, opacity .5s linear;
}

@media (any-hover: hover) {
  .logo_place_header:hover {
    border: 5px solid #2f80ed;
    margin-top: -5px;
    margin-left: -4px;
    background-color: #2f80ed;
    opacity: .5;
    transition: background-color .2s linear, opacity .2s linear;
  }
}
