.logo_place_footer {
  width: 183px;
  height: 35px;
  background-image: url("../../../images/logo_place_footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: background-color .5s linear, opacity .5s linear;
}

@media (any-hover: hover) {
  .logo_place_footer:hover {
    border: 5px solid #fff;
    margin-top: -4px;
    margin-left: -4px;
    background-color: #fff;
    opacity: .5;
    transition: background-color .2s linear, opacity .2s linear;
  }
}
