.footer__column-link {
  color: #fff;
  text-decoration: none;
  transition: background-color .5s linear;
}

@media (any-hover: hover) {
  .footer__column-link:hover {
    border: 3px solid #fff;
    margin-left: -3px;
    margin-right: -3px;
    color: #000;
    background-color: #fff;
    transition: background-color .2s linear;
  }
}
