.cards__item {
  box-sizing: border-box;

  width: 240px;
  margin-right: 100px;
  padding-top: 60px;

  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.cards__item:nth-child(3n + 3) {
  margin-right: 0;
}
