@keyframes rotation-360 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotation {
  animation-name: rotation-360;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
