.link-component_logo_bg-light {
  transition: background-color .5s linear, opacity .5s linear;
}

@media (any-hover: hover) {
  .link-component_logo_bg-light:hover {
    border: 5px solid #2f80ed;
    margin-top: -5px;
    margin-left: -4px;

    background-color: #2f80ed;
    opacity: .5;

    transition: background-color .2s linear, opacity .2s linear;
  }
}
